.card {
    display: flex;
    width: 100%;

    border-bottom: 1px solid rgba(135, 135, 135, 0.2);
    padding-bottom: .75rem;
    margin-bottom: .75rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hotel__picture {
    width: 72px;
    height: 64px;
    border-radius: 50%;
    background: rgba(65, 82, 46, 0.05);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 1.5rem;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.date {
  color: rgba(196, 196, 196, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.price > span {
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;

  margin-right: 1rem;

  color: rgba(135, 135, 135, 1);
}

.price {
  color: rgba(66, 66, 66, 1);
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checked {
  fill: #E55858;
  color: #E55858;
  opacity: 1;
}
